.ts_twitch_chat__slide_menu {
   height: 100%;
   width: 100%;
   background-color: #333;
}

.ts_twitch_chat__slide_menu_header {
   padding: 7px 8px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: 1px solid #555;
}