$gutter_size: 5px;

.FriendRequestItem {
   display: flex;
   flex-wrap: wrap;
   margin: -#{$gutter_size};

   & > div {
      margin: #{$gutter_size};
   }
}

.FriendRequestItem__sender {
   flex: 9999999;
}

.FriendRequestItem__gutter_wrapper {
   margin: -#{$gutter_size};
   & > button {
      margin: #{$gutter_size};
   }
}

.FriendRequestItem__actions {
   flex: 1 1 auto;
   display: flex;
   justify-content: center;
   align-items: center;
}