<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="utf-8"/>
      <title>TSCity</title>
      <meta name="description" content="TS is back, baby!">
      <meta name="keywords" content="ts" />
      <meta property="og:title" content="TSCity" />
      <meta property="og:description" content="TS is back, baby!" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="https://ts.city" />
      <meta property="og:locale" content="en_US" />
      <meta property="og:site_name" content="ts" />
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:title" content="TSCity" />
      <meta name="twitter:description" content="TS is back, baby!" />
      <!-- Needed for Material UI -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
   </head>
   <body class="TSBody" style="background-color: #0D2020">
      <div id="app-root" class="teenspot_app_root"></div>
      <script>window.simpleCallback = function() {}</script>
      <script async defer src="https://www.google.com/recaptcha/api.js?onload=simpleCallback&render=explicit"></script>
   </body>
</html>